* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

#more-vert-btn {
  cursor: pointer;
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
}

#more-vert-btn:hover {
  opacity: 0.6; /* Later switch to a more appropriate style */
  border-radius: 50%;
}

.dropdown-container {
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
}

.more-vert-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.more-vert-item:hover {
  background: lightgray;
  cursor: pointer;
}

.hidden {
  display: none;
}
